input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}
.add_event_box {
  display: none;
}
.events_block {
  width: 100%;
  min-height: 70px;
  background: rgba(244, 164, 96, 0.7);
}
.events_block .container {
  background: #ffdead;
  min-height: 70px;
}
.events_admin_block {
  width: 100%;
  min-height: 70px;
  background: #ff6347;
}
.events_admin_block .container {
  background: #ffa078;
  min-height: 70px;
}
.event-btn {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid #ff6347;
  box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  background: #ff6347;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
}
.event-btn:active {
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
}
.form-wrap {
  position: relative;
}
.event-info {
  width: 600px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  border-radius: 10px;
  border: 1px solid #ffa078;
  padding: 5px 250px 5px 15px;
}
.select-event {
  padding: 6px 250px 6px 11px;
}
.event-title {
  position: absolute;
  left: 350px;
  width: 250px;
  border: 1px solid #ffa078;
  box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  padding: 5px;
  background: #ffffff;
  border-radius: 0 10px 10px 0;
}
.end-title {
  padding-bottom: 25px;
}
.data-event-title {
  padding: 6px;
}
.btn-avatar {
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
#avatar {
  visibility: hidden;
}
#avPreview {
  max-width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.flag-box {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.flag-wrap {
  width: 600px;
  position: relative;
}
.country-flag {
  width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.add_coutry_box {
  display: none;
}
.confirm_massage p {
  display: inline-block;
  padding: 5px;
}
.tournament-box {
  display: none;
}
.group-title {
  display: inline-block;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
  margin-left: 10px;
}
.teams {
  width: 100%;
  display: inline-block;
}
.teams .teams-name {
  float: left;
  display: inline-block;
  width: 300px;
  padding: 5px;
  border-radius: 10px  0 0 10px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
}
.teams .teams-flag {
  float: left;
}
.teams .teams-flag img {
  width: 30px;
  height: 30px;
}
.teams .team-rating {
  float: left;
  display: inline-block;
  width: 60px;
  padding: 3px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  margin-left: 2px;
  margin-right: 2px;
}
.teams .add-team-tornament {
  float: left;
  display: inline-block;
  padding: 4px 15px;
  margin-bottom: 1px;
}
.teams .clr {
  clear: both;
}
.teams .add_team_confirm {
  float: left;
}
.teams .add_team_confirm .fa-check-square-o {
  background: white;
  border-radius: 10px;
  padding: 2px;
  color: #9cc218;
}
.matches .match-time {
  padding: 5px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  border: none;
  border-radius: 10px 0 0 10px;
}
.matches .home-team,
.matches .visit-team {
  padding: 7px;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  border: none;
}
.matches .match-flag {
  display: inline-block;
}
.matches .match-flag img {
  width: 30px;
  height: 30px;
}
.matches .add-match-tornament {
  border-radius: 0 10px 10px 0;
  padding: 4px 15px;
  margin-bottom: 1px;
}
.matches .match-info-input {
  width: 30px;
}
