@bgrndColor: rgba(244, 164, 96, 0.7);
@bgrndColorLite: rgb(255, 222, 173);
@textColor: rgb(40, 40, 40);
@btntxt: rgb(255, 255, 255);
@btnColor: rgba(188, 143, 143, 0.9);
@adminBgrndColor: rgb(255, 99, 71);
@adminBgrndColorLite: rgb(255, 160, 120);

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}
.add_event_box{
  display: none;
}
.events_block{
  width: 100%;
  min-height: 70px;
  background: @bgrndColor;
  .container{
    background: @bgrndColorLite;
    min-height: 70px;
  }
}
.events_admin_block{
  width: 100%;
  min-height: 70px;
  background: @adminBgrndColor;
  .container{
    background: @adminBgrndColorLite;
    min-height: 70px;
  }
}
.event-btn{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 10px;
    border: 1px solid @adminBgrndColor;
    box-shadow: 0px 2px 8px 0px rgba(40,40,40, .4);
    background: @adminBgrndColor;
    color: @btntxt;
    cursor: pointer;
    margin-bottom: 5px;
}
.event-btn:active{
  box-shadow: inset 0px 2px 8px 0px rgba(40,40,40, .4);
}
.form-wrap{
  position: relative;
}
.event-info{
  width: 600px;
  box-shadow: inset 0px 2px 8px 0px rgba(40,40,40, .4);
  border-radius: 10px;
  border: 1px solid @adminBgrndColorLite;
  padding: 5px 250px 5px 15px;
}
.select-event{
  padding: 6px 250px 6px 11px;
}
.event-title{
  position: absolute;
  left: 350px;
  width: 250px;
  border: 1px solid @adminBgrndColorLite;
  box-shadow: 0px 2px 8px 0px rgba(40,40,40, .4);
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
}
.end-title{
  padding-bottom: 25px;
}
.data-event-title{
  padding: 6px;
}
.btn-avatar{
  cursor:pointer;
  border-radius: 10px;
  text-align: center;
}
#avatar{
  visibility: hidden;
}
#avPreview{
  max-width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
.btn-avatar:hover{

}
.flag-box{
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.flag-wrap{
  width: 600px;
  position: relative;
}
.country-flag{
  width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.add_coutry_box{
  display: none;
}
.confirm_massage{
  p{
    display: inline-block;
    padding: 5px;
  }
}
.tournament-box{
  display: none;
}

  .group-title{
    display: inline-block;
    box-shadow: inset 0px 2px 8px 0px rgba(40,40,40, .4);
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    margin-left: 10px;
  }
.teams{
  width: 100%;
  display: inline-block;
  .teams-name{
    float: left;
    display: inline-block;
    width: 300px;
    padding: 5px;
    border-radius: 10px  0 0 10px;
    box-shadow: inset 0px 2px 8px 0px rgba(40,40,40, .4);
  }
  .teams-flag{
    float: left;
    img{
      width: 30px;
      height: 30px;
    }
  }
  .team-rating{
    float: left;
    display: inline-block;
    width: 60px;
    padding: 3px;
    box-shadow: inset 0px 2px 8px 0px rgba(40,40,40, .4);
    margin-left: 2px;
    margin-right: 2px;
  }
  .add-team-tornament{
    float: left;
    display: inline-block;
    padding: 4px 15px;
    margin-bottom: 1px;
  }
  .clr{
    clear: both;
  }
  .add_team_confirm{
    float: left;
    .fa-check-square-o{
      background: white;
      border-radius: 10px;
      padding: 2px;
      color: rgb(156, 194, 24);
    }
  }
}
