@bgrndColor: rgba(244, 164, 96, 0.7);
@bgrndColorLite: rgb(255, 222, 173);
@textColor: rgb(40, 40, 40);
@btntxt: rgb(255, 255, 255);
@btnColor: rgba(188, 143, 143, 0.9);
@adminBgrndColor: rgb(255, 99, 71);
@adminBgrndColorLite: rgb(255, 160, 120);

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}

.events_block{
  width: 100%;
  min-height: 70px;
  background: @bgrndColor;
  .container{
    background: @bgrndColorLite;
    min-height: 70px;
  }
}
.events_admin_block{
  width: 100%;
  min-height: 70px;
  background: @adminBgrndColor;
  .container{
    background: @adminBgrndColorLite;
    min-height: 70px;
  }
}
.add_events{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 10px;
    background: @btnColor;
    color: @btntxt;
    cursor: pointer;
}
.add_events:hover{
  box-shadow: 2px 2px rgba(188, 143, 143, 0.4);
}
.form-wrap{
  position: relative;
}
.event-info{
  width: 600px;
  box-shadow: inset 0px 2px 8px 0px rgba(255, 160, 120, 0.3);
  border-radius: 10px;
  border: 1px solid @adminBgrndColorLite;
  padding: 5px 250px 5px 15px;
}
.select-event{
  padding: 6px 250px 6px 11px;
}
.event-title{
  position: absolute;
  left: 350px;
  width: 250px;
  border: 1px solid @adminBgrndColorLite;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 0 10px 10px 0;
}
.data-event-title{
  padding: 6px;
}