.float-left {
  float: left;
}
.left {
  float: left;
}
.float-right {
  float: right;
}
.right {
  float: right;
}
.clr {
  clear: both;
}
.relative {
  position: relative;
}
.greenlite {
  background: #d7e7a3;
}
.title-left {
  border-radius: 10px 0 0 10px;
}
.lamp {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 2px;
  width: 10px;
  height: 10px;
  background: #ff4e33;
  border-radius: 50%;
  box-shadow: 0px 0px 7px #ff4e33;
}
.lamp-center {
  left: 50%;
  transform: translate(-50%);
}
.lamp-confirm {
  background: #9cc218;
  box-shadow: 0px 0px 7px #9cc218;
}
.home-lamp {
  right: 35px;
  bottom: 5px;
}
.visit-lamp {
  left: 35px;
  bottom: 5px;
}
.football-shadow {
  box-shadow: inset 0px 2px 8px 0px #9cc218;
}
.football_shadow {
  box-shadow: 0px 2px 8px 0px #9cc218;
}
.football-shadow-lite {
  box-shadow: inset 0px 2px 8px 0px #d7e7a3;
}
.forecast_block {
  width: 100%;
  min-height: 70px;
}
.forecast_football {
  background: #9cc218;
}
.forecast_football .forecast_wrap {
  background: #d7e7a3;
  min-height: 70px;
}
.forecast_football .forecast_wrap .info_box {
  border-radius: 10px;
  margin-bottom: 1px;
}
.forecast_football .forecast_wrap .info_box span {
  margin-left: 5px;
}
.forecast_football .forecast_wrap .match_block .match_wrap {
  width: 820px;
}
.forecast_football .forecast_wrap .match_block .match_info {
  display: inline-block;
  padding: 5px;
}
.forecast_football .forecast_wrap .match_block .match_time,
.forecast_football .forecast_wrap .match_block .match_date,
.forecast_football .forecast_wrap .match_block .match_variance {
  padding: 5px;
}
.forecast_football .forecast_wrap .match_block .teams_block {
  display: block;
  width: 300px;
}
.forecast_football .forecast_wrap .match_block .teams_block .team_block {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 8px;
  box-shadow: 0px 2px 8px 0px #9cc218;
  border-radius: 10px;
}
.forecast_football .forecast_wrap .match_block .teams_block .team_block .team_flag {
  width: 45px;
}
.forecast_football .forecast_wrap .match_block .teams_block .team_block .team_flag img {
  max-width: 100%;
}
.forecast_football .forecast_wrap .match_block .teams_block .team_block .team_title {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
}
.forecast_football .forecast_wrap .match_block .teams_block .team_block .teams_goal {
  width: 43px;
  height: 43px;
  background: gray;
  border-radius: 0 5px 5px 0;
  font-size: 36px;
  text-align: center;
  line-height: 43px;
  vertical-align: middle;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box {
  position: relative;
  margin-top: 15px;
  padding: 12px;
  padding-right: 24px;
  display: block;
  width: 300px;
  box-shadow: 0px 2px 8px 0px #9cc218;
  border-radius: 10px;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .main_match_info_title {
  color: #9cc218;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: -12px;
  left: 20px;
  padding: 2px;
  background: #d7e7a3;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .match_prop_wrap {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #9cc218;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .match_prop_title {
  display: inline-block;
  width: 75%;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .match_prop_title b {
  float: right;
  display: inline-block;
  padding: 2px;
  background: #dcdcdc;
  border: 1px solid #9cc218;
  border-radius: 5px;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .win_box {
  display: block;
  padding: 1px 3px;
  text-align: center;
}
.forecast_football .forecast_wrap .match_block .main_match_info_box .win_box span {
  display: block;
}
.forecast-football {
  background: #9cc218;
}
.forecast-football .container {
  background: #d7e7a3;
  min-height: 70px;
}
.match-wrap {
  width: 820px;
}
.match-info {
  display: inline-block;
  padding: 5px;
}
.match-time,
.match-date,
.match-variance {
  padding: 5px;
}
.info-box {
  border-radius: 10px;
  margin-bottom: 1px;
}
.info-box span {
  margin-left: 5px;
}
.teams-wrap {
  border: 1px solid #9cc218;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.home-team {
  display: inline-block;
  width: 400px;
}
.visit-team {
  display: inline-block;
  width: 400px;
}
.team-flag {
  width: 50px;
}
.team-flag img {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.team-name {
  padding: 15px;
  font-size: 18px;
  font-weight: 300;
}
.team-goal {
  width: 50px;
  text-align: center;
  padding: 15px 0px 10px 12px;
  background: #d7e7a3;
  border: 1px solid #9cc218;
  border-radius: 10px;
  font-size: 18px;
}
.forecast-box {
  position: relative;
  display: inline-block;
  width: 100%;
}
.box-title {
  background: #d7e7a3;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.input-box {
  margin: 5px;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #9cc218;
  background: #d7e7a3;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
}
#result-box {
  display: inline-block;
  margin-top: 2px;
  margin-left: 10px;
  -webkit-appearance: none;
  border-radius: 10px;
  background: yellow;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
  width: 120px;
  height: 12px;
  outline: none;
  border: 1px solid #D4D4D4;
}
.result-box::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #d7e7a3;
  box-shadow: 0px 2px 8px 0px #9cc218;
  border-radius: 18px;
  cursor: pointer;
  transition: .1s;
}
.result-box-title span {
  padding: 0 11px;
  display: inline-block;
}
.result-info {
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 5px;
  padding: 5px;
  background: #d7e7a3;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
  cursor: pointer;
}
.select-box {
  background: #d7e7a3;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
}
.nobody_win {
  width: 80px;
  border-left: 1px solid #d7e7a3;
  border-right: 1px solid #d7e7a3;
}
.possession-team {
  margin: 5px;
  padding: 5px;
  background: #d7e7a3;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
}
.count-possession {
  display: inline-block;
  width: 50px;
  margin: 5px;
  padding: 3px;
  border: 1px solid #9cc218;
  background: #d7e7a3;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
}
#possession {
  margin-top: 14px;
  -webkit-appearance: none;
  border-radius: 10px;
  background: yellow;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
  width: 320px;
  height: 12px;
  outline: none;
  border: 1px solid #D4D4D4;
}
#possession::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background-image: url("/public/image/ball.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 18px;
  cursor: pointer;
  transition: .1s;
}
.margin-icon {
  font-size: 12px;
}
.sum-icon {
  font-size: 12px;
}
.card-icon {
  display: inline-block;
  width: 10px;
  height: 15px;
  border-radius: 3px;
  background: yellow;
}
.red {
  background: red;
}
.card-box {
  margin: 5px;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #9cc218;
  background: #d7e7a3;
  border-radius: 10px;
}
.yellowLite {
  background: #f3f781;
}
.redLite {
  background: #ff4e33;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
}
.corner-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border-left: 2px solid #282828;
  border-bottom: 2px solid #282828;
  overflow: hidden;
}
.corner-icon .circle-corner {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 13px;
  height: 13px;
  border: 2px solid #282828;
  border-radius: 50%;
}
.shot-title {
  background: #d7e7a3;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}
.shot-box {
  margin: 5px;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #9cc218;
  background: #d7e7a3;
  border-radius: 10px;
}
#series-penalty,
#extra-time {
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  -webkit-appearance: none;
  border-radius: 10px;
  background: #ff4e33;
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  width: 80px;
  height: 25px;
  outline: none;
  border: 1px solid rgba(40, 40, 40, 0.3);
}
#series-penalty::-webkit-slider-thumb,
#extra-time::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: #d7e7a3;
  box-shadow: 0px 2px 8px 0px #9cc218;
  border-radius: 18px;
  cursor: pointer;
  transition: .1s;
}
.series-penalty,
.extra-time {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background: #d7e7a3;
  border-radius: 10px;
  box-shadow: inset 0px 2px 8px 0px #9cc218;
  cursor: pointer;
}
.in-gate-icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
  border-left: 2px solid #282828;
  border-top: 2px solid #282828;
  border-right: 2px solid #282828;
}
.in-gate-icon .fa-futbol-o {
  position: absolute;
  font-size: 9px;
  bottom: 0;
  left: 6px;
}
.all-shot-icon {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  width: 25px;
  height: 15px;
  border-left: 2px solid #282828;
  border-top: 2px solid #282828;
  border-right: 2px solid #282828;
}
.all-shot-icon .fa-futbol-o {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 6px;
}
.free-kick-icon {
  position: relative;
  margin-right: 10px;
}
.free-kick-icon .whistle-circle {
  position: relative;
  left: 14px;
  width: 8px;
  height: 8px;
  border: 2px solid #282828;
  border-radius: 50%;
  display: inline-block;
}
.free-kick-icon .whistle-line {
  position: absolute;
  left: 17px;
  top: 6px;
  width: 8px;
  height: 2px;
  background: #282828;
  transform: rotate(-15deg);
  display: inline-block;
}
.free-kick-icon .fa-futbol-o {
  position: absolute;
  font-size: 11px;
  bottom: 4px;
  left: 0px;
}
.crossbar-icon {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  width: 25px;
  height: 15px;
  border-left: 2px solid #282828;
  border-top: 2px solid #282828;
  border-right: 2px solid #282828;
  z-index: 0;
}
.crossbar-icon .fa-futbol-o {
  position: absolute;
  font-size: 9px;
  bottom: 2px;
  right: -5px;
  z-index: 1;
}
.penalty-icon {
  position: relative;
}
.penalty-icon .field {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  width: 28px;
  height: 15px;
  border-left: 1px solid #282828;
  border-bottom: 1px solid #282828;
  border-right: 1px solid #282828;
  z-index: 1;
}
.penalty-icon .field .fa-futbol-o {
  position: absolute;
  font-size: 7px;
  bottom: 3px;
  left: 10px;
  z-index: 1;
}
.penalty-icon .semicircle {
  position: absolute;
  left: 18px;
  bottom: -2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #282828;
  border-radius: 50%;
}
.extra-time-icon {
  font-size: 14px;
}
.extra-time-icon .fa-plus {
  display: inline-block;
  margin-right: 2px;
  font-size: 8px;
}
.out-icon {
  position: relative;
}
.out-icon .field {
  display: inline-block;
  width: 25px;
  height: 16px;
  background: #9cc218;
}
.out-icon .line {
  position: absolute;
  left: 0px;
  top: 3px;
  display: inline-block;
  width: 25px;
  height: 1px;
  border-top: 1px solid #282828;
}
.out-icon .fa-futbol-o {
  position: absolute;
  border-radius: 50%;
  font-size: 7px;
  top: -6px;
  left: 10px;
  z-index: 1;
}
.series-penalty-icon .fa-futbol-o {
  display: inline-block;
  margin-right: 2px;
  margin-top: 7px;
  float: left;
  font-size: 6px;
  bottom: 3px;
  left: 10px;
  z-index: 1;
}
.offside-icon {
  background: yellow;
  color: #ff4e33;
}
.foot-random-wrap {
  position: absolute;
  top: -20px;
  left: 830px;
  border-radius: 0 10px 10px 10px;
}
.foot-random-wrap .random-title {
  position: absolute;
  left: -187px;
  background: #d7e7a3;
  z-index: 1;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 10px 0 0 10px;
}
.foot-random-wrap .rand-block-title {
  line-height: 1em;
  text-align: center;
}
.foot-random-wrap .fa-random {
  display: inline-block;
  position: relative;
  padding: 5px;
  background: #9cc218;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
  cursor: pointer;
  margin: 10px 20px;
}
.foot-random-wrap .fa-random:hover,
.foot-random-wrap .random-active {
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.3);
}
.foot-random-wrap .all-random {
  margin-top: 10px;
}
.foot-random-wrap .score-random {
  margin-top: 15px;
}
.foot-random-wrap .match-result-random {
  margin-top: 25px;
}
.foot-random-wrap .goals-random,
.foot-random-wrap .possession-random,
.foot-random-wrap .cards-random,
.foot-random-wrap .penalty-random,
.foot-random-wrap .shots-random {
  margin-top: 15px;
}
.foot-random-wrap .field-events-random {
  margin-top: 10px;
}
.forecast-hockey {
  background: rgba(30, 144, 255, 0.7);
}
.forecast-hockey .container {
  background: #87ceeb;
  min-height: 70px;
}
