.humor_wrap {
  width: 100%;
  min-height: 70px;
  background: rgba(30, 144, 255, 0.7);
}
.humor_wrap .perl_box {
  position: relative;
  display: inline-block;
  width: 600px;
  margin-left: 270px;
  margin-top: 35px;
  margin-bottom: 25px;
  border-radius: 10px;
  background: #b0e0e6;
  padding: 25px 25px 45px 25px;
}
.humor_wrap .perl_box .perl_stat {
  position: absolute;
  display: inline-block;
  width: 50%;
  top: 5px;
  right: 5px;
}
.humor_wrap .perl_box .perl_stat div {
  float: right;
  padding: 5px;
}
.humor_wrap .perl_box p {
  color: #282828;
  font-weight: bold;
}
.humor_wrap .perl_box .likes_perl,
.humor_wrap .perl_box .next_perl,
.humor_wrap .perl_box .add_perl {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 10px;
  background: rgba(0, 191, 255, 0.9);
  color: #ffffff;
  cursor: pointer;
}
.humor_wrap .perl_box .next_perl,
.humor_wrap .perl_box .add_perl {
  margin-left: 20px;
}
.humor_wrap .add_perl_form {
  position: relative;
  display: inline-block;
  width: 600px;
  margin-left: 270px;
  margin-bottom: 35px;
  border-radius: 10px;
  background: #b0e0e6;
  padding: 25px;
}
.humor_wrap .add_perl_form .close_form {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #282828;
  cursor: pointer;
}
.humor_wrap .add_perl_form .perl_add_text {
  width: 100%;
  min-height: 50px;
  resize: vertical;
  margin-bottom: 10px;
}
.humor_wrap .add_perl_form .confirm_add_perl {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 10px;
  background: rgba(0, 191, 255, 0.9);
  color: #ffffff;
  cursor: pointer;
}
.humor_wrap .likes_perl:hover,
.humor_wrap .next_perl:hover,
.humor_wrap .add_perl:hover,
.humor_wrap .confirm_add_perl:hover {
  box-shadow: 2px 2px rgba(0, 191, 255, 0.4);
}
.humor_wrap .added-box {
  box-shadow: inset 0px 2px 8px 0px rgba(40, 40, 40, 0.4);
  border-radius: 10px 0 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.humor_wrap .added-box .added-left-box {
  float: left;
}
.humor_wrap .added-box .added-left-box .added-name {
  padding: 5px 5px 0px 5px;
  text-align: right;
}
.humor_wrap .added-box .added-left-box .added-time {
  font-size: 12px;
  font-weight: lighter;
  padding-right: 5px;
  padding-left: 5px;
}
.humor_wrap .added-box .added-avatar {
  float: right;
}
.humor_wrap .added-box .added-avatar img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  border-radius: 10px 0 10px 0;
}
