.humor_block {
  width: 100%;
  min-height: 70px;
  background: rgba(30, 144, 255, 0.7);
}
.humor_block .perl_box {
  position: relative;
  display: inline-block;
  width: 600px;
  margin-left: 35%;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 10px;
  background: #b0e0e6;
  padding: 25px;
}
.humor_block .perl_box .perl_stat {
  position: absolute;
  display: inline-block;
  width: 50%;
  top: 5px;
  right: 5px;
}
.humor_block .perl_box .perl_stat div {
  float: right;
  padding: 5px;
}
.humor_block .perl_box p {
  color: #282828;
  font-weight: bold;
}
.humor_block .perl_box .likes_perl,
.humor_block .perl_box .next_perl,
.humor_block .perl_box .add_perl {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 10px;
  background: rgba(0, 191, 255, 0.9);
  color: #ffffff;
  cursor: pointer;
}
.humor_block .perl_box .next_perl,
.humor_block .perl_box .add_perl {
  margin-left: 20px;
}
.humor_block .add_perl_form {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 35px;
  border-radius: 10px;
  background: #b0e0e6;
  padding: 25px;
}
.humor_block .add_perl_form .close_form {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #282828;
  cursor: pointer;
}
.humor_block .add_perl_form .perl_add_text {
  width: 100%;
  min-height: 50px;
  resize: vertical;
  margin-bottom: 10px;
}
.humor_block .add_perl_form .confirm_add_perl {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 10px;
  background: rgba(0, 191, 255, 0.9);
  color: #ffffff;
  cursor: pointer;
}
.humor_block .likes_perl:hover,
.humor_block .next_perl:hover,
.humor_block .add_perl:hover,
.humor_block .confirm_add_perl:hover {
  box-shadow: 2px 2px rgba(0, 191, 255, 0.4);
}
